<h1>Angular6 CRUD Firebase + Angularfire2 v5</h1>

<nav>
  <a routerLink="/course-list">getList</a>
  <br>
  <a routerLink="/course-list-push">List push</a>
  <br>
  <a routerLink="/course-list-remove">List remove</a>
  <br>
  <a routerLink="/course-list-update">List update</a>
  <br> <br>
  <a routerLink="/course-object">getObject</a>
  <br>
  <a routerLink="/course-object-create">Object create</a>
  <br>
  <a routerLink="/course-object-delete">Object remove</a>
  <br>
  <a routerLink="/course-object-update">Object update</a>
  <br> <br>
  <a routerLink="/course-list-query">List Query</a>


</nav>
<router-outlet></router-outlet>

